 /*Font Awesome by Dave Gandy - http://fontawesome.io*/

body {
  /*font*/
  font-size: 18px;
  font-family: 'Roboto', 'Helvetica', sans-serif;

  /*margin*/
  margin: 12px auto;

  /*dimensions*/
  width: 100%;
  max-width: 800px;
  min-height: 500px;
}

span.emph {
  font-style: italic;
  font-size: 1.0em;
}

/*
██   ██ ███████  █████  ██████  ███████ ██████
██   ██ ██      ██   ██ ██   ██ ██      ██   ██
███████ █████   ███████ ██   ██ █████   ██████
██   ██ ██      ██   ██ ██   ██ ██      ██   ██
██   ██ ███████ ██   ██ ██████  ███████ ██   ██
*/

#main-header {
  margin: 0 auto;

  width: 95%;
  height: 90px;

  position: relative;
}

#my-name {
  width: 45%;
  min-width: 370px;
  text-align: left;
  font-size: 1.5em;
}

#my-name > a > h1 {
  margin: 1% 0;
  color: #00539F;
}

nav {
  width: 50%;
  min-width: 360px;
  float: right;
  position: absolute;
  right: 0;
  bottom: 35%;
  font-size: 1.4em;
  text-align: right;
}

nav > a {
  color: #5e5e5e;
  opacity: 0.66;
  padding: 0px 1px;

  /*browser help*/
  -o-transition:.25s;
  -ms-transition:.25s;
  -moz-transition:.25s;
  -webkit-transition:.25s;

  /*transition*/
  transition:.25s;
}

nav > a:hover {
  color: #3a3a3a;
  opacity: 1.0;
}

a {
  color: #0069c6;
  text-decoration: none;
}

/*
 ██████  ██████  ███    ██ ████████ ███████ ███    ██ ████████
██      ██    ██ ████   ██    ██    ██      ████   ██    ██
██      ██    ██ ██ ██  ██    ██    █████   ██ ██  ██    ██
██      ██    ██ ██  ██ ██    ██    ██      ██  ██ ██    ██
 ██████  ██████  ██   ████    ██    ███████ ██   ████    ██
*/

div.content {
  width: 85%;
  max-width: 800px;
  min-height: 320px;
  margin: 40px auto;
}

div.content > h2 {
  margin-left: 3px;
  margin-top: 12px;
}

#contact-h2 {
  margin-left: 0;
}

#my-photo {
  width: 30%;
  /* min-width: 150px; */
  float: left;
  /* border: #5e5e5e 1px solid; */
  margin: 0 auto;
  margin-right: 5%;
}

#my-photo > img {
  width: 100%;
}

#about-me {
  width: 65%;
  /* min-width: 450px; */
  float: right;

  font-size: 1.1em;

  margin: 0 auto;
}

#about-me > p {
  line-height: 1.25em;
  margin: 0 auto;
}

#about-me > a {
  text-decoration: none;
  color: #e8ecff;
}

span.highlight-text {
  /* background-color: #eaf0ff; */
  /* color: #720101; */
  /* text-decoration-line: underline; */
  /* text-decoration-color: #adb4ff; */
  /* border-radius: 10px; */
  /* padding-left: 2px; */
}

/*
████████  █████  ██████  ██      ███████
   ██    ██   ██ ██   ██ ██      ██
   ██    ███████ ██████  ██      █████
   ██    ██   ██ ██   ██ ██      ██
   ██    ██   ██ ██████  ███████ ███████
*/

#research-table {
  width: 100%;
  text-align: justify;
  font-size: 100%;
  padding: 0;
  margin: 0;
}

td {
  vertical-align: top;
}

tr.space-large > td {
  padding-bottom: 2.25em;
}

tr.space-medium > td {
  padding-bottom: 1.1em;
}

tr.space-small > td {
  padding-bottom: 0.66em;
}

tr.space-small > td > span > i {
  vertical-align: middle;
  font-size: 10pt;
  margin-bottom: 2pt;
}

td.limited-width {
  width: 75%;
  font-size: 1.15em;
}

td.coauthor {
  font-size: 1.0em;
}

blockquote {
  margin-top: 16px;
  margin-bottom: 18px;
}


/*
███████  ██████   ██████  ████████ ███████ ██████
██      ██    ██ ██    ██    ██    ██      ██   ██
█████   ██    ██ ██    ██    ██    █████   ██████
██      ██    ██ ██    ██    ██    ██      ██   ██
██       ██████   ██████     ██    ███████ ██   ██
*/

#footer {
  height: 25%;
  width: 100%;
  max-width: 800px;
  position: fixed;
  bottom: 0;
  margin: 0 auto;
  margin-bottom: 6px;
}

#research-footer {
  height: 160px;
  position: relative;
}

#footer-fox {
  width: 85%;
  height: 50%;
  position: absolute;
  bottom: 20%;
  right: 2%;
  margin: 0 auto;
}

#footer-fox > img {
  height: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
}

#footer-text {
  height: 25%;
  width: 100%;
  position: absolute;
  bottom: 0;
}

#footer-text > hr {
  margin: 1%;
}

#footer-text > p {
  font-size: 0.7em;
  text-align: center;
  margin: auto;
}

hr {
  opacity: 0.66;
  color: #5e5e5e;
  width: 100%;
  border-width: 1.5px;
  border-left-width: 0;
  border-right-width: 0;
}

/*
 ██████  ██████  ███    ██ ████████  █████   ██████ ████████ ███████
██      ██    ██ ████   ██    ██    ██   ██ ██         ██    ██
██      ██    ██ ██ ██  ██    ██    ███████ ██         ██    ███████
██      ██    ██ ██  ██ ██    ██    ██   ██ ██         ██         ██
 ██████  ██████  ██   ████    ██    ██   ██  ██████    ██    ███████
*/

div.address {
  font-size: 1.1em;
}

#contacts > table {
  width: 75%;
  margin: 10px auto;
  text-align: center;
  border: #afafaf 1px solid;
  border-radius: 8px;
  padding-top: 10px;
}

/*
██████  ███████ ███████ ██████   ██████  ███    ██ ███████
██   ██ ██      ██      ██   ██ ██    ██ ████   ██ ██
██████  █████   ███████ ██████  ██    ██ ██ ██  ██ ███████
██   ██ ██           ██ ██      ██    ██ ██  ██ ██      ██
██   ██ ███████ ███████ ██       ██████  ██   ████ ███████
*/

/* width */
@media screen and (max-width:750px) {

  body {
    margin: 6px auto;
  }

  #main-header {
    text-align: center;
    height: 130px;
  }

  #my-name {
    font-size: 1.5em;
    width: 100%;
    min-width: 0;
    text-align: center;
    margin: 0 auto;
    color: #00539F;
  }

  nav {
    float: none;
    width: 100%;
    /* min-width: 0; */
    margin: 0 auto;
    margin-bottom: 5px;
    text-align: center;
    position: relative;
    bottom: 0;
    /* width: 55%; */
    font-size: 1.6em;
  }

  nav > a {
    padding: 1%;
  }

  div.content {
    margin: 20px auto;
  }

  #about-me {
    /* width: 65%; */
    font-size: 1.05em;
    /* float: none; */
  }

}

@media screen and (max-width:600px) {
  #my-photo {
    /* visibility: hidden; */
    float: none;
    width: 30%;
    min-width: 150px;
    margin: 0 auto;
  }

  #about-me {
    width: 100%;
    font-size: 1.0em;
    margin: 10px 0;

    float: none;
  }
}


@media screen and (min-width:380px) and (max-height:500px) {

  #my-photo {
    float: left;
    margin: 0 1% 1% 0;
  }

  #about-me {
    /* width: 70%; */
    /* float: right; */
    /* margin: 0 auto; */
  }
}

@media screen and (max-width:500px) {

  body {
    min-height: 450px;
    margin-top: 6px;
  }

  #main-header {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    height: 125px;
  }

  #my-name {
    font-size: 1.5em;
  }

  nav {
    font-size: 1.4em;
    margin-bottom: 0;
    /* bottom: 5px; */
  }

  nav > a {
    padding: 0 3px;
  }

  h2 {
    font-size: 1.4em;
  }

  div.content {
    margin: 0 auto;
    /* font-size: 0.8em; */
  }

  blockquote {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
  }

  #about-me {
    font-size: 1.0em;
  }

  #research-table {
    font-size: 0.8em;
  }

  div.address {
    font-size: 1.1em;
  }

  #contacts {
    width: 100%;
    margin: 0 auto;
  }

  div.content > h2 {
    margin-left: 3px;
    margin-top: 0px;
  }

  #footer {
    height: 150px;
    position: relative;
  }

}

@media screen and (max-width:500px) and (max-height:700px) {
  #footer {
    height: 160px;
    position: relative;
  }
}

@media screen and (max-width:360px) and (min-height:451px) {

  #main-header {
    text-align: center;
    height: 120px;
  }

  #my-name {
    font-size: 1.3em;
  }

  nav {
    font-size: 1.3em;
    min-width: 0;
  }

  #about-me > p {
    font-size: 0.95em;
  }

  div.address {
    font-size: 0.9em;
  }

  #contacts > a {
    margin-bottom: -5px;
  }

}

@media screen and (max-height:600px) {
  #footer {
    height: 160px;
    position: relative;
  }
}

@media screen and (max-height:400px) and (max-width: 500px) {

  body {
    margin: 6px auto;
    min-height: 400px;
  }

  #about-me {
    width: 70%;
    float: right;
    margin: 0 auto;
  }

  #about-me > p {
    /* font-family: 'Roboto', 'Trebuchet MS', sans-serif; */
    line-height: 1.2em;
    /* padding: 0; */
    font-size: 1.0em;
  }

  #main-header {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    height: 100px;
    /* font-size: 0.85em; */
    /* position: relative; */
    /* padding: 0 6px; */
  }

  #my-name {
    font-size: 1.35em;
  }

  nav {
    font-size: 1.25em;
  }

  div.content {
    margin: 24px auto;
    min-height: 200px;
    /* font-size: 0.9em; */
  }

  blockquote {
    margin-top: 1.5%;
    margin-bottom: 2%;
  }

  #my-photo {
    /* visibility: hidden; */
    float: left;
    width: 25%;
    margin: 0 auto;
  }

  #contacts {
    margin-top: 0;
  }

}
